{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block accueil %}current-list-item{% endblock %}

{% block body %}
<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Search For:</h3>
						<input type="text" placeholder="Keywords">
						<button type="submit">Search <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search area -->

<!-- home page slider -->
<div class="homepage-slider">
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Vos envies à portée de main</p>
							<h1>Découvrez nos produits exclusifs</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Commandez</a>
								<!-- <a href="contact.html" class="bordered-btn">Contact Us</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Inspiration Quotidienne</p>
							<h1>Articles, Conseils & Tendances</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Lire les Articles</a>
								<a href="contact.html" class="bordered-btn">Contactez-nous</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Ne manquez rien !</p>
							<h1>Événements & Promotions Spéciales</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Voir les Événements</a>
								<a href="contact.html" class="bordered-btn">Contactez-nous</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end home page slider -->
<!-- advertisement section -->
<div class="abt-section mb-150 mt-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">À</span> Propos de Nous !</h3>
					<p>Promouvoir l’art, préserver la tradition et valoriser le patrimoine culturel à travers des actions concrètes et des événements uniques.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="abt-bg">
					<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube">
						<i class="fas fa-play"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="abt-text">
					<p class="top-sub">Depuis 2023</p>
					<h2><span class="orange-text">Sant’Arts Business</span></h2>
					<p>(SAB) œuvre pour la promotion des artistes locaux, la valorisation du patrimoine culturel et la conservation de la tradition orale en Afrique.</p>
					<p>Nous organisons des événements culturels, produisons des contenus audiovisuels et proposons une galerie pour préserver les œuvres et traditions menacées de disparition.</p>
					<a href="about.html" class="boxed-btn mt-4">En savoir plus...</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end advertisement section -->
<!-- product section -->
<div class="product-section pb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Nos</span> Produits</h3>
					<p>
						Découvrez notre sélection de produits de qualité, soigneusement sélectionnés pour satisfaire vos besoins et valoriser le savoir-faire local.
					</p>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			{% for product in ishome %}
			<div class="col-lg-3 col-md-4 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="{{ path('app_product',{'slug': product.slug}) }}"><img src="/uploads/products/{{ product.image }}" alt="{{ product.name }}"></a>
					</div>
					<h3>{{ product.name }}</h3>
					<p class="product-price"><span>Per Kg</span> {{ product.price }}FCFA </p>
					<a href="{{ path('app_cart_add', {'id': product.id }) }}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Ajouter au panier</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end product section -->
<!-- Gallery Start -->
<div class="container-fluid gallery pb-150">
	<div class="container pb-5">
		<div class="col-lg-8 offset-lg-2 text-center">
			<div class="section-title">
				<h3><span class="orange-text">Notre </span> Gallérie</h3>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.
				</p>
			</div>
		</div>
		<div class="row g-4">
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
				<div class="gallery-item">
					<img src="assets/img/gallery-1.jpg" class="img-fluid rounded w-100 h-100" alt="">
					<div class="search-icon">
						<a href="assets/img/gallery-1.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-1"><i class="fas fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 wow fadeInUp" data-wow-delay="0.4s">
				<div class="gallery-item">
					<img src="assets/img/gallery-2.jpg" class="img-fluid rounded w-100 h-100" alt="">
					<div class="search-icon">
						<a href="assets/img/gallery-2.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-2"><i class="fas fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 wow fadeInUp" data-wow-delay="0.6s">
				<div class="gallery-item">
					<img src="assets/img/gallery-3.jpg" class="img-fluid rounded w-100 h-100" alt="">
					<div class="search-icon">
						<a href="assets/img/gallery-3.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-3"><i class="fas fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 wow fadeInUp" data-wow-delay="0.2s">
				<div class="gallery-item">
					<img src="assets/img/gallery-4.jpg" class="img-fluid rounded w-100 h-100" alt="">
					<div class="search-icon">
						<a href="assets/img/gallery-4.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-4"><i class="fas fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 wow fadeInUp" data-wow-delay="0.4s">
				<div class="gallery-item">
					<img src="assets/img/gallery-5.jpg" class="img-fluid rounded w-100 h-100" alt="">
					<div class="search-icon">
						<a href="assets/img/gallery-5.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-5"><i class="fas fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
				<div class="gallery-item">
					<img src="assets/img/gallery-6.jpg" class="img-fluid rounded w-100 h-100" alt="">
					<div class="search-icon">
						<a href="assets/img/gallery-6.jpg" class="btn btn-light btn-lg-square rounded-circle" data-lightbox="Gallery-6"><i class="fas fa-search-plus"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Gallery End -->
<!-- latest news -->
<div class="latest-news pb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Notre</span> Blog</h3>
					<p>
						Découvrez les dernières actualités et articles de notre blog. Retrouvez des conseils, des nouveautés et des réflexions inspirantes sur les fruits et l’agriculture durable.
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html">
						<div class="latest-news-bg news-bg-1"></div>
					</a>
					<div class="news-text-box">
						<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
						</p>
						<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
						<a href="single-news.html" class="read-more-btn">Lire plus <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-latest-news">
					<a href="single-news.html">
						<div class="latest-news-bg news-bg-2"></div>
					</a>
					<div class="news-text-box">
						<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
						</p>
						<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
						<a href="single-news.html" class="read-more-btn">Lire plus <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
				<div class="single-latest-news">
					<a href="single-news.html">
						<div class="latest-news-bg news-bg-3"></div>
					</a>
					<div class="news-text-box">
						<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
						</p>
						<p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
						<a href="single-news.html" class="read-more-btn">Lire plus <i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<a href="news.html" class="boxed-btn mt-4">Voir plus...</a>
			</div>
		</div>
	</div>
</div>
<!-- end latest news -->

<!-- testimonail-section -->
<div class="testimonail-section mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Nos</span> Témoignages</h3>
					<p>
						Découvrez les avis de nos clients satisfaits. Leur expérience avec nos services reflète notre engagement envers la qualité et la satisfaction.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1 text-center">
				<div class="testimonial-sliders">
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="assets/img/avaters/avatar1.png" alt="">
						</div>
						<div class="client-meta">
							<h3>Saira Hakim <span>Local shop owner</span></h3>
							<p class="testimonial-body">
								" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="assets/img/avaters/avatar2.png" alt="">
						</div>
						<div class="client-meta">
							<h3>David Niph <span>Local shop owner</span></h3>
							<p class="testimonial-body">
								" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
					<div class="single-testimonial-slider">
						<div class="client-avater">
							<img src="assets/img/avaters/avatar3.png" alt="">
						</div>
						<div class="client-meta">
							<h3>Jacob Sikim <span>Local shop owner</span></h3>
							<p class="testimonial-body">
								" Sed ut perspiciatis unde omnis iste natus error veritatis et quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
							</p>
							<div class="last-icon">
								<i class="fas fa-quote-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end testimonail-section -->

<!-- team section -->
<div class="pb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3>Notre <span class="orange-text">équipe</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-team-item">
					<div class="team-bg team-bg-1"></div>
					<h4>Jimmy Doe <span>Farmer</span></h4>
					<ul class="social-link-team">
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-team-item">
					<div class="team-bg team-bg-2"></div>
					<h4>Marry Doe <span>Farmer</span></h4>
					<ul class="social-link-team">
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
				<div class="single-team-item">
					<div class="team-bg team-bg-3"></div>
					<h4>Simon Joe <span>Farmer</span></h4>
					<ul class="social-link-team">
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end team section -->
{% endblock %}