{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Résumé du panier : {{ RecapCart|json_encode() }} ✅</h1>

    <p>Cette information provient de :</p>
    <ul>
        <li>Le contrôleur à <code>{{ app.request.server.get('DOCUMENT_ROOT') }}/src/Controller/OrderController.php</code></li>
        <li>Le template à <code>{{ app.request.server.get('DOCUMENT_ROOT') }}/templates/order/index.html.twig</code></li>
    </ul>

    {# Affichage du formulaire #}
    {{ form_start(form) }}
    {{ form_row(form) }}  {# Affiche tous les champs du formulaire #}

    {# Bouton de soumission #}
    <button type="submit" class="btn btn-primary">Valider la commande</button>

    {{ form_end(form) }}  {# Terminer le formulaire #}
</div>
{% endblock %}
